{% extends "guest_base.html" %}

{% load form_tags %}

{% block content %}


<p class="note">Enter your email address, then check your mail. We'll send you 
an email with further instructions for resetting your password.</p>


<form action="/reset/" method="post" id="resetpasswordform">

{% formfield form.email %}

<div>
<input type="submit" class="button" value="Next">
</div>
</form>

<script type="text/javascript">
<!--
document.getElementById('id_email').focus()
//-->
</script>

{% endblock %}